# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**
- Exercise 1: Create a Jupyter Notebook
- Exercise 2: Create markdown cell with title of the notebook
- Exercise 3 - Create a markdown cell for an introduction
- Exercise 4 - Create a markdown cell to list data science languages
- Exercise 5 - Create a markdown cell to list data science libraries
- Exercise 6 - Create a markdown cell with a table of Data Science tools
- Exercise 7 - Create a markdown cell introducing arithmetic expression examples
- Exercise 8 - Create a code cell to multiply and add numbers
- Exercise 9 - Create a code cell to convert minutes to hours

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. JavaScript
4. Julia
5. Scala
6. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy
4. Sklearn
5. Scipy
6. Seaborn
7. Pytorch

|Data Science Tools|
| ----------------- |
|Apache Spark|
|IBM SPSS|
|Julia|
|Jupyter Notebook|
|Keras|
|Matlab|
|Matplotlib|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
min=200
h=min//60
print("Hours=",h)

Hours= 3

## **Author** 
T.Praneeth